<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="#" class="navbar-brand mx-auto">NEWS</a>
    </nav>
    
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-4 text-center">
          <table class="table table-striped">
            <tr>
              <th>ID</th>
              <th>TITLE</th>
              <th>NEWS</th>
            </tr>
            <% for(var i = 0; i < news.length; i++) { %> 
              <tr>
                <td><%= news[i].id %></td>
                <td><%= news[i].title %></td>
                <td><%= news[i].news %></td>
              </tr>
            <% } %>
          </table>
        </div>

        <div class="col-md-6 mt-4 card">
          <form action="/news" method="post" class="card-body">
            <h3 class="card-title">Add News</h3>
            <div class="form-group">
              <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
            </div>
            <div class="form-group">
              <input type="text" name="news" class="form-control" placeholder="Content">
            </div>
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
